td, th {
	border: 1px solid;
  }
  
body {
background-color:blue;
}

h1{
text-align:center;
font-style:underline;
color:orange;
}

table{
margin-left: auto; 
margin-right: auto;
}
}

#Planets {
text-align: center;
}

.Earth {
color:lightblue;
}

.Mars {
color:red;
}

.Jupiter {
color:brown;
}

.Uranus {
color:darkblue;
}

.Jupiter-Mass {
color:red;
font-weight:bold;
}

.Jupiter-Diameter {
color:red;
font-weight:bold;
}

.Earth-Density {
color:red;
font-weight:bold;
}

.Jupiter-Gravity {
color:red;
font-weight:bold;
}

.Jupiter-EV {
color:red;
font-weight:bold;
}

.Mars-RP {
color:red;
font-weight:bold;
}

.Mars-Day {
color:red;
font-weight:bold;
}