td, th {
	border: 1px solid;
  }

#Planets {
text-align: center;
}

.Earth {
color:lightblue;
}

.Mars {
color:red;
}

.Jupiter {
color:brown;
}

.Uranus {
color:darkblue;
}

.EarthPic {
Width: 200px;
Height: 200px;
}

.Jupiter-Mass {
color:red;
font-weight:bold;
}

.Jupiter-Diameter {
color:red;
font-weight:bold;
}

.Earth-Density {
color:red;
font-weight:bold;
}

.Jupiter-Gravity {
color:red;
font-weight:bold;
}

.Jupiter-EV {
color:red;
font-weight:bold;
}

.Mars-RP {
color:red;
font-weight:bold;
}

.Mars-Day {
color:red;
font-weight:bold;
}